
*{
    padding: 0px;
    margin: 0px;
}
#header{
    margin: auto;
    width: 800px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: block; 
    border:solid;
    border-color:rgb (230, 226, 15);
    border-radius:10px;    
}
.nav > li{   float: left;
}
.nav li a:hover{
    background-color: #2475c4;
}
body{

	background-color:#009d71;
}
.h1{
    color: rgb(16, 230, 69); 
    background-color:pink;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    font-size: 45px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: white;
   
}   


.F{
	 color: rgb(138, 184, 224);
  
}
p{
    text-align: justify;
}

